DATABASE_URL=postgresql://neondb_owner:XXXXXXXXX@ep-rough-haze-ampt0uqq-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require
SESSION_SECRET=BIIS_xxxx
GEMINI_API_KEY=XXXXXXX-XXXXXXXX
PORT=5001
NODE_ENV=development